@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#root {
  max-width: 1200px;
  width: 100%;
}

.collapse {
  max-width: 1200px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
}

.collapse .collapse_card {
  overflow: hidden;
}

.collapse .collapse_head {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 12px 20px;
}

.collapse .collapse_card:not(:last-child) .collapse_body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.collapse .collapse_card:last-child .collapse_body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.collapse .collapse_card.show:last-child .collapse_body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.collapse .collapse_card.show:not(:last-child) .collapse_body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn {
  border: 0;
  outline: none;
}

.collapse .collapse_head_button {
  background-color: transparent;
  padding: 6px 12px;
  user-select: none;
  color: #007bff;
  font-size: 18px;
  box-shadow: none;
}

.collapse .collapse_head_button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.collapse .collapse_body {
  background-color: #fff;
  overflow: hidden;
  transition: height 0.35s ease;
  height: 0;
}

.collapse .collapse_body_text {
  padding: 20px;
  font-size: 16px;
}

.collapse .collapse_body.collapsing {
  transition: height 0.35s ease;
}

/*  */

.img {
  width: 400px;
  height: 400px;
}

.window {
  margin-bottom: 10%;
  width: 400px;
  height: 400px;
  border: 1px solid red;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
}

.container {
  display: flex;
  position: relative;
  width: 1200px;
  transition: all 1s ease;
}

.btnRight {
  margin-left: 1%;
}

.btnLeft {
  margin-right: 1%;
}

.btnContainer {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: inherit;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
